<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Syberian Cat Tattoo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        tools:targetApi="31">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceListActivity"
            android:exported="false" />
        <activity
            android:name=".Service"
            android:exported="false" />
        <activity
            android:name=".ListUsers"
            android:exported="false" />
        <activity
            android:name=".UserEdit"
            android:exported="false" />
        <activity
            android:name=".ActivityEditUser"
            android:exported="false" />
        <activity
            android:name=".WorkerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>